
<header class="navbar navbar-expand-lg navbar-dark  nga-navbar">
  <nav class="container" aria-label="Main navigation">
    
    <a routerLink="/" class="navbar-brand" alt="Accueil" aria-label="Ganatan">
    
      <span class="nga-logo mx-2">  <img src="../assets/images/imgpsh_fullsize_anim1.jpeg" width="80" alt=""></span>
    </a>
    
    <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mx-auto">
      </ul>
      <ul class="navbar-nav me-auto">
        <li class="nav-item1">
          <a class="nav-link nga-nav-link" aria-current="page"  [routerLink]="['/accueil']">
            Accueil</a>
        </li>
        <li class="nav-item2">
          <a class="nav-link nga-nav-link" aria-current="page" [routerLink]="['/plateforme']">
            Plateforme</a>
        </li>
        <li class="nav-item3">

          <a class="nav-link nga-nav-link" aria-current="page">
         Client</a>
        </li>
       
      </ul>
      <a routerLink="/" class="navbar-brand" alt="Accueil" aria-label="Ganatan">
    
        <span class="nga-logo mx-2">  <img src="../assets/images/imgpsh_fullsize_anim1.png" width="25" alt=""></span>
      </a>
      <a routerLink="/" class="navbar-brand" alt="Accueil" aria-label="Ganatan">
    
        <span class="nga-logo mx-2">  <img src="../assets/images/imgpsh_fullsize_anim2.png" width="25" alt=""></span>
      </a>
      <a routerLink="/" class="navbar-brand" alt="Accueil" aria-label="Ganatan">
    
        <span class="nga-logo mx-2">  <img src="../assets/images/imgpsh_fullsize_anim3.png" width="25" alt=""></span>
      </a>

    </div>
  </nav>
</header>




