.nga-nav-link {
  color: rgb(245, 232, 232);
  font-size: 14px;
  font-weight: bold;

}

.navbar-toggler{
    background-color: #2368A2;
}


.nga-logo {
  font-weight: 500;
}

.nga-logo:hover {
  color: rgba(255, 255, 255, 0.75);
}

.nga-btn-navbar {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1976d2;
  --bs-btn-border-color: #1976d2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
}

.nav-item{
  color:var(--bs-btn-hover-color);


}
.nav-item1{
  background-color:#2368A2;
  border-radius: 20px;
  margin-right: 40px;
  line-height: 20px;
  width: 100px;
  text-align: center;
  font-family: calibri;
  margin-top: 10px;
}
.nav-item2{
  background-color:#63A2D8;
  border-radius: 20px;
  margin-right: 40px;
  height: 35px;
  width: 100px;
  text-align: center;
  font-family: calibri;
  line-height: 20px;
  margin-top: 10px;
}
.nav-item3{
  background-color:#63A2D8;
  height: 35px;
  border-radius: 20px;
  width: 100px;
  text-align: center;
  font-family: calibri;
  line-height: 20px;
  margin-top: 10px;
}

.nav-item2:hover{
  background-color:#2368A2;
}
.nav-item3:hover{
  background-color:#2368A2;
}

.collapse:not(.show) {
  display: inline-block;

}
