<div class="container">
    <div class="row align-items-end">
      <div class="col">
        <img src="../assets/images/imgpsh_fullsize_anim1.jpeg" width="90" alt="">
      </div>
      <div class="col">
        <a href="">Accueil</a>
      </div>
      <div class="col">
        <a href=""> A propos</a>
      </div>
      <div class="col">
        <a href="">Plateforme</a>
       </div>
       <div class="col">
       
       </div>
       <div class="col">
       
       </div>
    
    </div>
    </div>
    <br>
    <div class="container">
      <div class="row align-items-end">
        <div class="col">
          Mwaro, Kayokwe <br> info@magis.bi
        </div>
        
      
        <div class="col">
          <a href=""> Notre equipes</a>
        </div>
        <div class="col">
          <a href="">Nos Clients</a>
         </div>
         <div class="col">
         
         </div>
         <div class="col">
          <a routerLink="/" class="navbar-brand" alt="Accueil" aria-label="Ganatan">
        
            <span class="nga-logo mx-2">  <img src="../assets/images/imgpsh_fullsize_anim1.png" width="25" alt=""></span>
          </a>
          <a routerLink="/" class="navbar-brand" alt="Accueil" aria-label="Ganatan">
        
            <span class="nga-logo mx-2">  <img src="../assets/images/imgpsh_fullsize_anim2.png" width="25" alt=""></span>
          </a>
          <a routerLink="/" class="navbar-brand" alt="Accueil" aria-label="Ganatan">
        
            <span class="nga-logo mx-2">  <img src="../assets/images/imgpsh_fullsize_anim3.png" width="25" alt=""></span>
          </a>
         </div>
      
      </div>
      </div>
      <br>
      <br>
      <br>  
