<br>
<br>
<div class="container">
    <div class="row">
      <div class="col align-self-center" id="col1">
        <h1>MAGIS <span>BI</span></h1>
        Une entreprise informatique <br> 
        spécialisée dans le développement <br> 
        des logiciels destinés au secteur <br>
        financier <span class="span2">Burundais</span>
      </div>
    </div>
  </div>
  <br> <br> 
  <div class="container">
    <div class="row">
      <div class="col align-self-center" id="chiffre">
        <p><img src="../../assets/images/bar.svg" width="30px" alt=""> NOS CHIFFRES</p>
      </div>
      
    </div>
  </div> 

  <div class="container" id="blocchiffre">
    <div class="row" id="chiffre2">
      <div class="col align-self-start" > 
        <h3>8 <br>
            Clients</h3>
      </div>
      <div class="col align-self-center">
         <h3>4 <br>Solutions
        </h3>
      </div>
      <div class="col align-self-end">
        <h3>30 <br>Membres du staff
        </h3>
        
      </div>
    </div>
  </div>
 <hr>
 <div class="container">
    <div class="row" >
        <div class="col align-self-start">
            
           </div>
      <div class="col align-self-center" id="dig">
       <p><span id="sp"> $ </span>une digitalisation complete du systeme</p>
       <p><span id="sp"> $ </span>pour une nouvelle ere</p>
       <p><span id="sp"> $ </span> /*  *** */</p>
      </div>
      <div class="col align-self-end">
       
       </div>
     
    </div>
  </div><br><br>

  <div class="container">
    <div class="row">
      <div class="col align-self-center" id="vizion">
        <p><img src="../../assets/images/bar.svg" width="30px" alt=""><b>VI</b>ZION</p>
      </div>
      
    </div>
  </div> 

  <div class="container" id="viz">
    <div class="row">
     
      <div class="col align-self-end" id="vizionblock">
        <img src="../assets/images/imgpsh_fullsize_anim9.png" style="filter: invert(100%);" width="50" alt=""><br> <br>
        <h1>API</h1>
        <P>Application Programming Interface </P>
        <a href="">More</a>
      </div>
      <div class="col align-self-center" id="vizionblock1">
        <img src="../assets/images/magis-logo.png" width="90" alt=""><br><br>
        <h1>MAGIS ERP</h1>
        <P>Magis erp Banking System </P>
        <a href="">More</a>
      </div>
      <div class="col align-self-end" id="vizionblock2">
        <img src="../assets/images/ihela.png" width="90" alt=""><br><br>
        <h1>IHERA RYANJE</h1>
        <P>Digital Banking System </P>
        <a href="">More</a>
      </div>
    </div>
  </div>
  <div class="topapproch">

  </div>
  <div class="container">
    <div class="row">
      <div class="col align-self-center" id="approche">
        <p><img src="../../assets/images/bar.svg" width="30px" alt=""><b>NOTRE</b>  APPROCHE</p>
      </div>
      
    </div>
  </div> 
  <div class="container">
    <div class="row">
      <div class="col align-self-start">
       
        
      </div>
      <div class="col align-self-end" id="leftcontent">
        <div class="approche1">
            <div class="approche11">
                <div class="approche111"></div>
    
            </div>
            <p>Echange</p>
            <span>Produire des solutions principalement 
            dans le domaine de la finance et les
             rendre accessibles auprès des acteurs 
             comme les banques, les institutions 
             de microfinance et les opérateurs économiques,
              à un coût abordable. </span></div>

          <div class="approche2">
            <div class="approche11">
                <div class="approche111"></div>
    
            </div>
            <p>Sécurité</p>
            <span>La sécurité de l’information 
              est la priorité dans la conception de nos
               logiciels. Nos applications Vizion sont hébergées
                dans une sécurité maximale afin de contrer les menaces 
                ciblant les informations d’ordre numériqu </span>
          </div>
          <br>
          <div class="approche3">
            <div class="approche11">
                <div class="approche111"></div>
    
            </div>
            <p>Accessibilité</p>
            <span> l'ère du digital, le client a accès aux services
                 de son fournisseur par mobile. La fintech apporte
                  les services bancaires aux clients grâce à internet
                   via des applications mobiles et web, et via des réseaux 
                   de télécommunication (USSD). </span>
          </div>
           
        
          
      </div>
      <div class="col align-self-center">
        <div class="bloc1">
            <div class="sb1"></div>
            <div class="sb2"></div>
            <div class="sb3"></div>
            <div class="sb4"></div>
            <div class="sb5"></div>
            <div class="sb6"></div>
        </div>
      </div>
      <div class="col align-self-end">
    


         <div class="approcheright"> <div class="approche11">
            <div class="approche111"></div>

        </div><p>Besoin</p>
            <span> 

                Produire des solutions principalement dans le domaine
                 de la finance et les rendre accessibles auprès des acteurs comme les banques,
                 les institutions de microfinance et les opérateurs 
                 économiques, à un coût abordable. </span></div> <br><br>

              <div class="approcheright"> <div class="approche11">
                <div class="approche111"></div>
    
            </div><p>Pérformance</p>
                <span> 

                    L'écosystème gagne en temps et satisfait son client. 
                    Le marché est concurrentiel et le client veut accéder
                     aux services de bonne qualité partout où il se trouve 
                     et au moment voulu. </span></div> <br><br>

                  <div class="approcheright"> <div class="approche11">
                    <div class="approche111"></div>
        
                </div><p>Implémentation</p>
                    <span> 

                        Notre équipe développe, implémente et maintient nos
                         systèmes. Une institution financière profitera au maximum de nos
                         applications et sera autonome après une période de 6 mois
                          d'intégration. </span></div>
      </div>  
    </div>
  </div>

  <br>
  <br>
  <br><br>


<div class="staff">
    <div class="container">
    
    <img src="../assets/images/Dorian.png" alt="" width="200">
  </div>
  
  </div>
  <div class="form">
    <P class="contact">VEUILLEZ NOUS CONTACTER POUR <br> DISCUTER DE VOS BESOINS</P>
    <input class="inputbox" placeholder="Nom"/><br> <br>
    <input class="inputbox" placeholder="Adresse mail"/><br><br>
    <label for="">Message</label> <br>
    <textarea name="" id="textarea" cols="30" rows="10"> </textarea><br><br>
    <button type="button" class="btn btn-outline-info">Envoyer</button>
    
    
    </div>

    <div class="bfooter">

    </div>
  <hr>