<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    
   
    <div class="container">
      
        <img class="img" src="../assets/images/imgpsh_fullsize_anim12.png" alt="Snow" style="width:100%;">
        
        <div class="centered">
          <img class="pt" src="../../assets/images/imgpsh_fullsize_animm.png" alt="">
            <h1>MAGIS BI</h1> 
            <div class="container0">
                <p class="typed">Les logiciels bancaire à votre goût</p>  
              </div>
                  
        </div>
        
        
        <div class="centered2">
            <span><button class="btn btn-light">Book a call</button></span>
                       
        </div>
        <div class="centered3">
            <p>NOS CLIENTS</p>

        </div>
        
      </div>

      <div class="container">
        <div class="row align-items-end">
          <div class="col">
            <img class="img2" src="../assets/images/ihela.png" alt="">
          </div>
          <div class="col">
            <img class="img2" src="../assets/images/imgpsh_fullsize_anim6.png" alt="">
          </div>
          <div class="col">
            <img class="img2" src="../assets/images/imgpsh_fullsize_anim2.jpeg" alt="">
          </div>
          <div class="col">
            <img class="img2" src="../assets/images/imgpsh_fullsize_anim.jpeg" alt="">
          </div>
          <div class="col">
            <img class="img2" src="../assets/images/cabu.jpg" alt="">
          </div>
          <div class="col">
            <img class="img2" src="../assets/images/imgpsh_fullsize_anim11.png" alt="">
          </div>
          <div class="col">
            <img class="img2" src="../assets/images/imgpsh_fullsize_anim7.png" alt="">
          </div>
        </div>
      </div>

      
      
      <div class="container">
        <div class="row">
            <div class="col-sm-2">
              <div class="card">
                <div class="card-body">
                  
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="card">
                <div class="card-body">
                
                </div>
              </div>
            </div>
            <div class="col-sm-1">
                <div class="card">
                  <div class="card-body">
                      
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="card">
                  <div class="card-body">
                      
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="card">
                  <div class="card-body">
                      
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="card">
                  <div class="card-body">
                      
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="card">
                  <div class="card-body">
                     
                  </div>
                </div>
              </div>
          </div>
      </div>

    <div class="pointie">
      <img src="../../assets/images/imgpsh_fullsize_animm.png" alt="">

    </div>

    <div class="image3">
      <div class="bloc1">
          <h1 class="h1">DES PLATEFORMES - SOLUTIONS</h1>
          <h2 class="h2">Personnalisables et efficaces </h2>
      </div>
      <div class="bloc2">
        <h1 class="fin"> FINTECH
          </h1>
          <h2 class="fin2">SOLUTION</h2>
          <h2 class="fin3">Des solutions adaptées à votre institution financière </h2>

      </div>
     
   
    </div>
    <img class="pt2" src="../../assets/images/imgpsh_fullsize_animm.png" alt="">
    <div class="bloc3">
    </div>




<div class="slider">
  <input type="radio" name="toggle" id="btn-1" checked>
  <input type="radio" name="toggle" id="btn-2">
  <input type="radio" name="toggle" id="btn-3">

  <div class="slider-controls">
    <label for="btn-1"></label>
    <label for="btn-2"></label>
    <label for="btn-3"></label>
  </div>

  <ul class="slides">
    <li class="slide">
      <div class="slide-content">
        <h2 class="slide-title">MAGIS ERP</h2>
        <p class="slide-text">Il est adapté à l’environnement réglementaire du burundi (référenciel comptable, reporting BRB, reporting RIM) et comprend tous les modules nécessaires à la gestion d’une unité bancaire (gestion des guichets, des agences, des ressources humaines, opérations, crédit, devises, clientèle, etc) </p>
      
      </div>
      <p class="slide-image">
        <img src="../assets/images/imgpsh_fullsize_anim12.png" alt="stuff" width="500" height="240">
      </p>
    </li>
    <li class="slide">
      <div class="slide-content">
        <h2 class="slide-title">Slide #2</h2>
        <p class="slide-text">Nisi ratione magni ea quis animi incidunt velit voluptate dolorem enim possimus, nam provident excepturi ipsam nihil molestiae minus delectus!</p>
       
      </div>
      <p class="slide-image">
        <img src="../assets/images/imgpsh_fullsize_anim7.png" alt="stuff" width="500" height="240">
      </p>
    </li>
    <li class="slide">
      <div class="slide-content">
        <h2 class="slide-title">Slide #3</h2>
        <p class="slide-text">Quisquam quod ut quasi, vero obcaecati laudantium asperiores corporis ad atque. Expedita fugit dicta maxime vel doloribus sequi, facilis dignissimos.</p>
        
      </div>
      <p class="slide-image">
        <img src="../assets/images/imgpsh_fullsize_anim7.png" alt="stuff" width="500" height="240">
      </p>
    </li>
  </ul>
</div>


<div class="container" id="apropos">
  <div class="row">
    <div class="col" id="col1">
      <div class="color"></div>
        UNE EQUIPE <br>
        DISPONIBLE ET <br>
        EFFICACE POUR <br>
        VOUS ASSISTER ET <br>
        RENDRE POSSIBLE <br>
        LA DIGITALISATION <br>
        DE TOUS VOS <br>
        SERVICES 
      <div class="color1"></div>
    </div>
  
    <div class="col order-5" id="col2">
      A PROPOS <br>
      <img src="../assets/images/imgpsh_fullsize_anim0.png" width="150" alt=""><br> <br> <br>
      <div id="heb">L’hébergement local a comme le principal avantage de garantir 
        la disponibilité de la solution hébergée.</div>
        <a href="">Read more ...</a>
    </div>
    <div class="col order-5">
      <div id="col3">
        <div id="b1">
            <div id="b1_2">
              <span class="p">Disponibilité</span>
            </div>
        </div>
        <div id="b2">
          <div id="b1_3">
            <span class="p">Scalabilite</span>
          </div>
        </div>
        <div id="b3">
          <div id="b1_4">
            <span class="p">Performance</span>
          </div>
        </div>
        <div id="b4">
          <div id="b1_4">
            <span class="p">Audit</span>
          </div>
         </div>
      </div>

     
      
    </div>
    
  </div>
</div>

<div class="staff">
  <div class="container">

  
  <img src="../assets/images/Dorian.png" alt="" width="200">

</div>

</div>
<div class="form">
  <input class="inputbox" placeholder="Nom"/><br> <br>
  <input class="inputbox" placeholder="Adresse mail"/><br><br>
  <label for="">Message</label> <br>
  <textarea name="" id="textarea" cols="30" rows="10"> </textarea><br><br>
  <button type="button" class="btn btn-outline-info">Envoyer</button>
  
  
  </div>
  <div class="bfooter">

  </div>
<hr>


   
</body>
</html>

